<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTZCn2y5Znis1FBVB3h1hfFjk4KJzTLPM</string>
	<key>GCM_SENDER_ID</key>
	<string>643571912675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectmusic</string>
	<key>PROJECT_ID</key>
	<string>equalized-audio</string>
	<key>STORAGE_BUCKET</key>
	<string>equalized-audio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643571912675:ios:ddf8e07d09abe214b61ad6</string>
</dict>
</plist>